@page
@model EFCoreTeaching_RazorPages.Pages.Students.GetStudentsModel
@{
    ViewData["Title"] = "GetStudents";
}
    <p>
        <a asp-page="/Students/Create">Create New Student</a>
    </p>
<h3 style="color:red"> List of students</h3>
<table class="table">
    <thead>
        <tr>
            <th> Student Id </th>
            <th> Name </th>
            <th>  Address </th>
        </tr>
    </thead>
    <tbody>

        @if (Model != null)
        {
            @foreach (var item in Model.Students)
            {
                <tr>
                    <td>  @item.StudentId </td>
                    <td>  @item.Name  </td>
                    <td>
                       <p>
                           <a asp-page="/Students/Student_Enrollments" asp-route-sid="@item.StudentId">Show Enrollments</a>
                       </p>
                    </td>
                 </tr>
            }
        }
</table>





